.label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
}

.errorMessage {
  color: #cc0033;
  font-size: 12px;
  line-height: 15px;
  margin: 5px 0 0;
  margin-bottom: 7px;
}

.input {
  margin-bottom: 24.5px;
  width: 300px;
}

.hasError {
  border: 1px solid red;
  width: 300px;
  border-radius: 2px;
}

.errorLabel {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 16px;
  gap: 5px;
}

.container {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
}
