.container {
  max-width: 1480px;
  margin-left: auto;
  margin-right: auto;
}

.searchControl {
  display: flex;
  justify-content: center;
  gap: 10px;
}

body {
  scrollbar-gutter: stable both-edges;
}
